<!doctype html>
<html lang="en">
  <head>
    <title>history</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <th:block th:replace="~{common/head :: library}"></th:block>
  </head>
  <body>
    <th:block th:replace="~{common/navigation :: navbar}" />
    <div class="container">
      <h2>history</h2>
      <p>
        The .table-hover class enables a hover state (grey background on mouse
        over) on table rows:
      </p>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>주문번호</th>
            <th>상품명</th>
            <th>수량</th>
            <th>총가격</th>
            <th>주문일자</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>#</td>
            <td>#</td>
            <td>#</td>
            <td>#</td>
            <td>#</td>
          </tr>
          <tr>
            <td>#</td>
            <td>#</td>
            <td>#</td>
            <td>#</td>
            <td>#</td>
          </tr>
          <tr>
            <td>#</td>
            <td>#</td>
            <td>#</td>
            <td>#</td>
            <td>#</td>
          </tr>
        </tbody>
      </table>
    </div>
    <th:block th:replace="~{common/footer :: footer}" />
  </body>
</html>
