<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Product Detail</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <th:block th:replace="~{common/head :: library}"></th:block>
  </head>
  <body>
    <th:block th:replace="~{common/navigation :: navbar}" />
    <div class="container">
      <h2>Product Detail Page</h2>

      <div class="card">
        <div class="row no-gutters">
          <div class="col-md-6">
            <img
              id="product-image"
              class="card-img-left"
              alt="Card image"
              src=""
            />
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h4 id="product-name" class="card-title"></h4>
              <p id="product-category" class="card-text"></p>
              <p id="product-price" class="card-text"></p>
              <p id="product-quantity" class="card-text"></p>
              <p id="product-select-quantity" class="card-text">
                <label for="quantity">수량:</label>
                <input
                  type="number"
                  id="quantity"
                  name="quantity"
                  min="1"
                  value="1"
                  placeholder="1"
                />
              </p>
              <p href="" class="btn btn-primary btn-lg">장바구니 추가</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <th:block th:replace="~{common/footer :: footer}" />

    <script>
      function getProductIdFromURL() {
        const urlParams = new URLSearchParams(window.location.search);
        const id = urlParams.get("id");
        return id ? parseInt(id) : null;
      }

      const productId = getProductIdFromURL() || 0;

      const createCategoryElement = (category) => {
        const categoryElement = document.createElement("span");
        categoryElement.className = "";
        categoryElement.innerText = category;
        categoryElement.style.fontSize = "1.2rem";
        categoryElement.style.fontWeight = "bold";
        categoryElement.href = ""; // TODO: Make category Link in future
        return categoryElement;
      };

      fetch(`/product/get-by-product-id/${productId}`)
        .then((response) => {
          if (!response.ok) {
            window.location.href = "/product/product-list";
          }
          return response.json();
        })
        .then((data) => {
          if (data && data.product) {
            const product = data.product;

            // HTML 요소에 상품 정보 삽입
            document.getElementById("product-name").innerText = product.name;
            document.getElementById("product-price").innerText =
              "가격: " + product.price;
            document.getElementById("product-quantity").innerText =
              "수량: " + product.quantity;

            document.getElementById("product-image").src = product.imageUrl;

            document
              .getElementById("product-category")
              .appendChild(createCategoryElement("asdf"));
          } else {
            document.getElementById("product-name").innerText =
              "상품을 찾을 수 없습니다.";
          }
        })
        .catch((error) => {
          console.error("Error fetching product data:", error);
        });
    </script>
  </body>
</html>
