<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory</title>
    <th:block th:replace="~{common/head :: library}"></th:block>
    <link rel="stylesheet" href="/admin.css" />
    <style>
      th {
        text-transform: capitalize;
      }
    </style>
  </head>
  <body>
    <th:block th:replace="~{common/navigation :: adminnavbar}" />
    <main class="flex-grow-1">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h3>상품(재고)관리</h3>
          <button id="add-product-btn" class="btn btn-primary">
            상품 추가
          </button>
          <button id="update-product-btn" class="btn btn-primary">
            상품 수정
          </button>
        </div>
        <hr />
        <table>
          <thead>
            <tr>
              <th>#</th>
              <th>product</th>
              <th>category</th>
              <th>quantity</th>
              <th>price</th>
            </tr>
          </thead>
          <tbody id="tableBody" class="editable-table"></tbody>
        </table>
      </div>
    </main>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const tableBodyElement = document.getElementById("tableBody");

        const createRow = (id, product, category, quantity, price) => {
          const row = document.createElement("tr");
          // Create other cells
          const productElement = document.createElement("td");
          const categoryElement = document.createElement("td");
          const quantityElement = document.createElement("td");
          const priceElement = document.createElement("td");

          row.id = `product-${id}`;
          productElement.textContent = product;
          productElement.classList.add("product-name");
          categoryElement.textContent = category;
          categoryElement.classList.add("category-name");
          quantityElement.textContent = quantity;
          quantityElement.classList.add("quantity");
          priceElement.textContent = `${price}`;
          priceElement.classList.add("price");

          // Create checkbox column
          const checkboxCell = document.createElement("td");
          checkboxCell.style.textAlign = "center"; // Horizontal centering
          checkboxCell.style.verticalAlign = "middle"; // Vertical centering

          // create checkbox for selection
          const checkbox = document.createElement("input");
          checkbox.type = "checkbox";
          checkbox.classList.add("select-checkbox");
          checkbox.name = "option";

          checkbox.onclick = (event) => {
            let checkboxes = document.getElementsByName("option");
            checkboxes.forEach((item) => {
              if (item !== checkbox) item.checked = false;
            });
          };

          checkboxCell.appendChild(checkbox);

          row.appendChild(checkboxCell); // Add the checkbox cell first
          row.appendChild(productElement);
          row.appendChild(categoryElement);
          row.appendChild(quantityElement);
          row.appendChild(priceElement);

          return row;
        };

        // Fetch all products from the server
        function loadData() {
          fetch("/product/get-all?page=-1", {
            include: "credentials",
          })
            .then((response) => response.json())
            .then((data) => {
              const reversedData = [...data.productList].reverse();
              reversedData.forEach((element) => {
                console.log(element);
                const row = createRow(
                  element.id,
                  element.name,
                  element.category.categoryName,
                  element.quantity,
                  element.price,
                );
                tableBodyElement.appendChild(row);
              });
            })
            .catch((error) =>
              console.error("Error loading categories:", error),
            );
        }

        // 초기 데이터 로드
        loadData();
      });
      document
        .getElementById("update-product-btn")
        .addEventListener("click", () => {
          const selectedCheckbox = document.querySelector(
            'input[name="option"]:checked',
          );

          if (selectedCheckbox) {
            const row = selectedCheckbox.closest("tr");
            const productId = row.id.replace("product-", "");

            window.open(
              `/admin/update-inventory?id=${productId}`,
              "_blank",
              "toolbar=no,scrollbars=yes,resizable=yes,width=400,height=600",
            );
          } else {
            alert("Please select a product to update.");
          }
        });
      document
        .getElementById("add-product-btn")
        .addEventListener("click", () => {
          // Get checked id
          window.open(
            "/admin/add-product",
            "_blank",
            "toolbar=no,scrollbars=yes,resizable=yes,width=400,height=600",
          );
        });
    </script>
  </body>
</html>
