<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Member</title>
    <th:block th:replace="~{common/head :: library}" />
    <link rel="stylesheet" href="/admin.css" />
  </head>
  <body>
    <th:block th:replace="~{common/navigation :: adminnavbar}" />
    <main class="flex-grow-1">
      <div class="container">
        <table id="dataTable" border="1">
          <caption>
            <strong>회원정보</strong>
          </caption>
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Password</th>
              <th>Birth</th>
              <th>Gender</th>
              <th>Role</th>
            </tr>
          </thead>
          <tbody>
            <!-- JSON 데이터 추가되는 곳 -->
          </tbody>
        </table>
      </div>
    </main>

    <script>
      function loadTableData(data) {
        const tableBody = document.querySelector("#dataTable tbody");
        tableBody.innerHTML = "";
        data.forEach((item) => {
          console.log("Processing item:", item);
          const row = document.createElement("tr");
          row.innerHTML = `
              <td>${item.name}</td>
                    <td>${item.email}</td>
                    <td>${"*".repeat(8)}</td>
                    <td>${item.birth}</td>
                    <td>${item.gender}</td>
                    <td>${item.role}</td>`;
          tableBody.appendChild(row);
        });
      }

      fetch("/api/user/get-all", {
        headers: {
          "Content-Type": "application/json",
        },
      })
        .then((response) => response.json())
        .then((data) => {
          console.log(data); // 전체 응답 데이터를 로그로 출력
          if (data.status === 200 && data.userList) {
            loadTableData(data.userList);
          } else {
            console.error("데이터 로드 실패:", data.message);
          }
        })
        .catch((error) => console.error("Error loading the JSON data:", error));
    </script>
  </body>
</html>
