<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <html>
    <style>
      .container {
        display: flex;
      }

      #nav1 {
        text-align: center;
      }

      #nav1 > ul {
        display: inline-block;
      }
      #nav1 > ul li {
        float: left;
        padding: 0 30px;
        line-height: 80px;
      }

      * {
        padding: 0;
        margin: 0;
      }

      nav {
        width: 80%;
        overflow: hidden;
      }
      ul {
        list-style: none;
      }
    </style>
    <head>
      <body>
        <div>
          <div>
            <h1>JOE SHOP</h1>
          </div>
          <div>
            <input type="button" value="알림받기" />
          </div>
          <div>
            <nav id="nav1">
              <ul>
                <li><a href="/basic/login">로그인</a></li>
                <li><a href="/basic/signUp">회원가입</a></li>
                <li><a href="/basic/myPage">마이페이지</a></li>
                <li><a href="/basic/updateProfile"> 정보 수정</a></li>
                <li><a href="">구매내역</a></li>
                <li><a href="">장바구니</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <hr />
        <div>
          <input type="text" />
          <span><input type="submit" value="입력" /></span>
        </div>
        <div id="mainImage">
          <h1>이미지(이벤트로 넘기기)</h1>
        </div>
        <br />
        <div class="container">
          <div>이미지1</div>
          <div>이미지2</div>
          <div>이미지3</div>
          <div>이미지4</div>
          <div>이미지5</div>
          <div>이미지6</div>
          <div>이미지7</div>
          <div>이미지8</div>
        </div>
      </body>
    </head>
  </html>
</html>
