<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My Page</title>
    <link rel="stylesheet" href="/style.css">
    <th:block th:replace="~{common/head :: library}"></th:block>
  </head>
  <body>
    <th:block th:replace="~{common/navigation :: navbar}" />
    <h1>My Page</h1>
    <hr />
    <div class="profile-container">
      <div>
        <p>이름 : <input type="text" /></p>
      </div>
      <div>
        <p>이메일 : <input type="text" /></p>
      </div>
      <div>
        <p>비밀번호 : <input type="text" /></p>
      </div>
      <div>
        <p>
          비밀번호 확인 :
          <input type="text" />
        </p>
        <div>
          <p>비밀번호 변경 : <input type="text" /></p>
        </div>
      </div>
      <div>
        <p>생년월일 : <input type="text" /></p>
      </div>
      <div>
        <p>성별 : <input type="radio" />남성 <input type="radio" />여성</p>
      </div>
      <div>
        <p>
          전화번호 :
          <input type="text" />
        </p>
      </div>
      <div>
        <p>주소 : <input type="text" /></p>
      </div>
    </div>
    <div>
      <p>
        <input type="button" value="수정" />
        <input type="button" value="확인" />
      </p>
    </div>

    <th:block th:replace="~{common/footer :: footer}" />
  </body>
</html>
