<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <style>
      .container {
        display: flex;
      }
    </style>
  </head>
  <body>
    <div>
      <div class="container1">
        <p>
          <button onclick="location.href = 'http://www.naver.com'">
            관리 홈
          </button>
        </p>
        <p>
          <button onclick="location.href = 'http://www.naver.com'">
            회원관리
          </button>
        </p>
        <p>
          <button onclick="location.href = 'http://www.naver.com'">
            재고관리
          </button>
        </p>
      </div>

      <div>
        <div class="container2">
          <button onclick="location.href = 'http://www.naver.com'">
            유저인사이트1
          </button>
          <button onclick="location.href = 'http://www.naver.com'">
            유저인사이트2
          </button>
        </div>

        <div class="container3">
          <button onclick="location.href = 'http://www.naver.com'">
            판매내역
          </button>
          <button onclick="location.href = 'http://www.naver.com'">
            재고관리
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
