<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <table>
      <tr>
        <th></th>
        <td>
          <nav>
            <ul>
              <li><a href="http://www.naver.com"> 관리 홈</a></li>
              <li><a href="http://www.naver.com"> 회원관리</a></li>
              <li><a href="http://www.naver.com"> 재고관리</a></li>
            </ul>
          </nav>
        </td>

        <td>
          <div>
            <div class="container2">
              <button onclick="location.href = 'http://www.naver.com'">
                유저인사이트1
              </button>
              <button onclick="location.href = 'http://www.naver.com'">
                유저인사이트2
              </button>
            </div>

            <div class="container3">
              <button onclick="location.href = 'http://www.naver.com'">
                판매내역
              </button>
              <button onclick="location.href = 'http://www.naver.com'">
                재고관리
              </button>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
