<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory</title>
  </head>
  <body>
    <div class="container1">
      <p>
        <button onclick="location.href = 'http://www.naver.com'">
          관리 홈
        </button>
      </p>
      <p>
        <button onclick="location.href = 'http://www.naver.com'">
          회원관리
        </button>
      </p>
      <p>
        <button onclick="location.href = 'http://www.naver.com'">
          재고관리
        </button>
      </p>
    </div>

    <div>
      <!-- 드롭다운 클릭해서 밑에 테이블에 들어갈 수 있도록 -->
      <h3>상품(재고)관리</h3>
      <table border="1">
        <tr>
          <th>
            <form action="#">
              <label for="category">카테고리</label>
              <br />
              <select name="category" id="cat">
                <option value="select">Select item</option>
                <option value="top">Top</option>
                <option value="bottom">Bottom</option>
                <option value="outer">Outer</option>
                <option value="shoes">Shoes</option>
                <option value="accessary">Acc</option>
                <option value="youth">Youth</option>
                <option value="makeup">MakeUp</option>
                <option value="furniture">Furniture</option>
              </select>
              <!-- <input type="submit" value="Submit" /> -->
            </form>
          </th>

          <th>
            <form action="#">
              <label for="product-name">상품명</label>
              <br />
              <select name="product-name" id="p_name">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
              </select>
            </form>
          </th>
          <th>
            <form action="#">
              <label for="product-code">상품코드</label>
              <br />
              <select name="product-code" id="p_code">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
              </select>
            </form>
          </th>

          <th>
            <form action="#">
              <label for="quentity">수량</label>
              <br />
              <select name="quentity" id="qty">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
              </select>
            </form>
          </th>

          <th>
            <form action="#">
              <label for="price">금액</label>
              <br />
              <select name="price" id="price">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
              </select>
            </form>
          </th>
        </tr>

        <tr>
          <th>카테고리</th>
          <th>상품명</th>
          <th>상품코드</th>
          <th>수량</th>
          <th>금액</th>
        </tr>
        <tr>
          <td>d</td>
          <td>d</td>
          <td>d</td>
          <td>d</td>
          <td>d</td>
        </tr>
      </table>
    </div>
  </body>
</html>
