<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Member</title>
  </head>
  <body>
    <!-- sidebar로 변경될 수 있음 -->
    <div class="container1">
      <p>
        <button onclick="location.href = 'http://www.naver.com'">
          관리 홈
        </button>
      </p>
      <p>
        <button onclick="location.href = 'http://www.naver.com'">
          회원관리
        </button>
      </p>
      <p>
        <button onclick="location.href = 'http://www.naver.com'">
          재고관리
        </button>
      </p>
    </div>

    <div>
      <table border="3px">
        회원정보
        <tr>
          <th>이름</th>
          <th>아이디</th>
          <th>이메일</th>
          <th>비밀번호</th>
          <th>주소</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </body>
</html>
