<!DOCTYPE html>
<html lang="ko">
<style>
    .container {
      display: flex;
    }
</style>
<head>
  <meta charset="UTF-8">
  <title>customerUserMain</title>
</head>
<body>
    <form>
        <div>
            <span>마이페이지</span>
            <span>장바구니</span>
        </div>
     <hr />
    </form>
    <form>
        <div>
            <span><button>알림 받기</button></span>
            <span>방문자 수 : </span>
            <span><h1>JOE SHOP</h1></span>
        </div>
    </form>
    <hr />
    <div>
        <input type="text" />
        <span><input type="submit" value="입력" /></span>
    </div>
    <div>
        <h1>이미지(이벤트로 넘기기)</h1>
    </div>
    <br />
    <div class="container">
        <div>이미지1</div>
        <div>이미지2</div>
        <div>이미지3</div>
        <div>이미지4</div>
    </div>
    <div class="container">
        <div>이미지5</div>
        <div>이미지6</div>
        <div>이미지7</div>
        <div>이미지8</div>
    </div>
</body>
</html>