<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Get & Display Json Data</title>
  </head>
  <body>
    <h1>Products:</h1>
    <ul></ul>

    <script>
      fetch("/product/get-all")
        .then((res) => res.json())
        .then((data) => {
          console.log(data);
          const productList = data.productList;
          productList.forEach((product) => {
            const markup = `
                    <li>
                        <strong>ID:</strong> ${product.id} <br>
                        <strong>Name:</strong> ${product.name} <br>
                        <strong>Price:</strong> ${product.price} 원 <br>
                        <strong>Quantity:</strong> ${product.quantity} <br><br>
                    </li>
                `;
            document
              .querySelector("ul")
              .insertAdjacentHTML("beforeend", markup);
          });
        })
        .catch((error) => console.log("Error:", error));
    </script>
  </body>
</html>
