<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <html>
    <style>
      .container {
        display: flex;
      }
    </style>
    <head>
      <body>
        <div id="navbar">
          <a href="/basic/login">로그인</a>
          <span><a href="/basic/signUp">회원가입</a></span>
          <span><a href="/basic/myPage">마이페이지</a></span>
          <span><a href="/basic/updateProfile"> 정보 수정</a></span>
          <span><a href="">구매내역</a></span>
          <span><a href="">장바구니</a></span>
        </div>
        <hr />
        <form>
          <div id="mainDisplay">
            <span><button>알림 받기</button></span>
            <span>방문자 수 : </span>
            <span><h1>JOE SHOP</h1></span>
          </div>
        </form>
        <hr />
        <div>
          <input type="text" />
          <span><input type="submit" value="입력" /></span>
        </div>
        <div id="mainImage">
          <h1>이미지(이벤트로 넘기기)</h1>
        </div>
        <br />
        <div class="container">
          <div>이미지1</div>
          <div>이미지2</div>
          <div>이미지3</div>
          <div>이미지4</div>
          <div>이미지5</div>
          <div>이미지6</div>
          <div>이미지7</div>
          <div>이미지8</div>
        </div>
      </body>
    </head>
  </html>
</html>
