<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
  <head>
    <body>
      <h1>My Page</h1>
      <hr />
      <div class="profile-container">
        <div>
          <p><span>이름 : </span></p>
        </div>
        <div>
          <p><span>이메일 : </span></p>
        </div>
        <div>
          <p><span>비밀번호 : </span></p>
        </div>
        <div>
          <p><span>생년월일 : </span></p>
        </div>
        <div>
          <p><span>성별 : </span></p>
        </div>
        <div>
          <p><span>전화번호 : </span></p>
        </div>
        <div>
          <p><span>주소 : </span></p>
        </div>
      </div>
      <div>
        <p>
          <span><input type="submit" value="확인" /></span>
          <span
            ><a href="/basic/updateProfile"
              ><input type="submit" value="회원정보 수정하기" /></a
          ></span>
        </p>
      </div>
    </body>
  </head>
</html>
</html>