<!DOCTYPE html>
<html>
  <head>
    <body>
      <h1>회원 정보 수정</h1>
      <hr />
      <div>
        <p>이름 : <input type="text" /></p>
        <p>이메일 : <input type="text" /></p>
        <p>비밀번호 : <input type="text" /></p>
        <p>생년월일 : <input type="text" /></p>
        <p>주소 : <input type="text"> </p>
        <p>전화번호 : <input type="text"></p>
        <p><input type="checkbox" />남성 <input type="checkbox" />여성</p>
      </div>
      <input type="submit" value="수정하기" />
    </body>
  </head>
</html>
