name: Java CI with Gradle

on:
  pull_request:
    branches: ["master"]

jobs:
  build:
    runs-on: self-hosted
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "temurin"

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0
        with:
          cache-read-only: ${{ github.ref != 'refs/heads/main' }}

      - name: spotless
        run: ./gradlew spotlessCheck

      - name: Build with Gradle Wrapper
        run: ./gradlew build
